@import url(/css/variables.css);

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Geist", sans-serif;
    background-color: var(--clr-bg-page);
    padding: 16px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    max-width: 448px;
    margin: 0 auto;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
}

.hero-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    background-color: var(--clr-primary);
    fill: var(--clr-white);
    box-shadow: 0 6px 10px rgba(0, 177, 118, 0.2);
    border-radius: 16px;
    margin-bottom: 20px;
}

.hero-logo svg {
    width: 32px;
}

.hero-title {
    font-size: var(--fs-xl);
    color: var(--clr-text-primary);
    margin-bottom: 8px;
}

.hero-subtitle {
    font-size: var(--fs-md);
    color: var(--clr-text-secondary);
}

.form-container {
    width: 100%;
    background-color: var(--clr-bg-surface);
    border-radius: 10px;
    padding: 24px 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

form {
    padding: 24px;
}

.time-group {
    width: 100%;
    margin-bottom: 24px;
}

.time-group label {
    font-size: var(--fs-sm);
    font-weight: 600;
    margin-bottom: 8px;
    display: flex;
    gap: 5px;
}

.time-group label svg {
    width: 16px;
}

.svg-play {
    fill: var(--clr-primary);
}

.svg-stop {
    fill: var(--clr-danger);
}

.time-input-wrapper {
    display: flex;
    gap: 8px;
    justify-content: space-between;
}

.time-input-wrapper input {
    font-family: "Geist", sans-serif;
    padding: 10px 14px;
    width: 100%;
    font-size: var(--fs-sm);
    border: 1px solid var(--clr-border);
    border-radius: 10px;
}

.time-input-wrapper input:focus {
    border: 1px solid #a1a1a1;
    outline: 3px solid #cfcfcf;
}

.time-input-wrapper button {
    padding: 8px 16px;
    border: 1px solid var(--clr-border);
    border-radius: 10px;
    background-color: var(--clr-white);
    font-size: var(--fs-sm);
    font-weight: 600;
    transition: 0.2s;
}

.time-input-wrapper button:hover {
    background-color: #00b17623;
    color: var(--clr-primary);
    border: 1px solid var(--clr-primary);
}

.action-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.action-buttons #btn-calculate {
    width: 100%;
    background-color: var(--clr-primary);
    color: var(--clr-white);
    fill: var(--clr-white);
    border: none;
    border-radius: 10px;
    font-size: var(--fs-sm);
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 14px;
    box-shadow: 0 6px 10px rgba(0, 177, 118, 0.2);
    transition: 0.2s;
}

.action-buttons #btn-calculate:hover {
    background-color: #008a5c;
}

.action-buttons button svg {
    width: 18px;
}

.action-buttons #btn-reset {
    background-color: var(--clr-white);
    border: 1px solid var(--clr-border);
    border-radius: 10px;
    padding: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

.action-buttons #btn-reset:hover {
    opacity: 0.7;
}

.result-card {
    background-color: var(--clr-primary);
    color: var(--clr-white);
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    margin-top: 24px;

    opacity: 1;
    transform: translateY(0);
    max-height: 500px;
    overflow: hidden;

    transition: 
        opacity 0.3s ease,
        transform 0.3s ease,
        max-height 0.3s ease,
        margin 0.3s ease,
        padding 0.3s ease;
}

.result-card.is-hidden {
    opacity: 0;
    transform: translateY(10px);
    max-height: 0;

    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
}

.result-card__label {
    color: #d0fae5;
    font-size: var(--fs-sm);
    margin-bottom: 4px;
}

.result-card-time {
    display: flex;
    align-items: baseline;
    gap: 5px;
    margin-bottom: 8px;
}

.result-card__value-hour, 
.result-card__value-minutes {
    color: var(--clr-white);
    font-size: 2.25rem;
    font-weight: 600;
}

.result-card__value-minutes {
    margin-left: 4px;
}

.result-card__unit {
    color: #d0fae5;
    font-size: 1.125rem;
}

.result-card__total {
    color: #d0fae5;
    font-size: var(--fs-sm);
}

.result-card__total-value {
    color: var(--clr-white);
    font-size: var(--fs-md);
    font-weight: 600;
}

@media (max-width: 480px) {
    body {
        padding: 24px;
    }
    
    .hero-title {
        font-size: 28px;
    }
    
    .hero-subtitle {
        font-size: var(--fs-sm);
    }
}